@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Montserrat:ital,wght@0,200;0,400;0,700;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,500;1,700&family=Roboto:wght@300;400;500;700;900&display=swap');

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    max-width: 1536px;
    background: #212529;
    // position: fixed;
    .header_wrapper {
        
        display: flex;
        justify-content: space-around;
        align-items: center;    
        nav {
            // padding: 20px;
            padding-top:20px ;
            ul {
                display: flex;
                flex-direction: row;
                gap: 15px;
                align-items: center;
                button {
                    width: 120px;
                    background: #212529;
                    padding: 10px;
                    border: none;
                    color: #f2f2f3;
                    font-size: 18px;
                    font-weight: 700;
                    transition: .2s ease-in-out;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    img {
                        width: 13px;
                    }
                    // &:hover {
                    //     border: none;
                    //     border-radius: 2px;
                    //     background: #3f4448;
                    //     // width: 15px;
                    // }
                }
                li {
                    list-style: none;
                    display: flex;
                    padding: 7px 7px;
                    // flex-direction: row;
                    // gap: 20px;
                    // align-items: center;
                    transition:all .3s ease-in-out;
                    &:hover {
                        border: none;
                        border-radius: 2px;
                        background: #3f4448;
                        // width: 15px;
                    }
                    a {
                        text-decoration: none;
                        color: #f2f2f3  ;
                        font-size: 18px;
                        font-weight: 700;
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        align-items: center;
                        img {
                        width: 13px;
                        }
                    }
                }
            }
        }
        .header_info {
            // display: flex;
            // flex-direction: row;
            // gap: 10px;
            button {
                background:#212529;
                border: none;
                border-radius: 8px;
                padding: 6px 10px;
                transition: all .2s ease-in-out;
                &:hover {
                    
                    background: #3f4448;
                }
                img {
                width: 20px;
                }
                a {
                    // width: 20px;
                    // height: 20px;
                    img {
                        width: 20px;
                    }
                }
                &:nth-child(4) {
                    img {
                        width: 30px;
                    }
                }
                
            }
        }
        .dropdown-menu {
            background: #212529;
            padding: 0px;
            .dropdown-item {
                background: #212529;
                color: #f2f2f3;
                &:hover {
                    background: #596065;
                }
                a {
                    color: #f2f2f3;
                }
            }
        }
    }
}

// @media screen and (max-width:1024px) {
//     header {
//         max-width: 1024px;
//         .header_wrapper {
//             background: red;
//             a {
//                 img {
//                     width: 100px;
//                 }
//             }
//         }
//     }
// }



.profileList {


    position: relative;
    transition: all .2s ease-in-out; 
    .list {
        width: 200px; 
        background: #292f35; 
        border-radius: 7px;   
        position: absolute;
        top: 30px;
        right: -10px;
        z-index: 15;
        ul {
            display: flex;
            flex-direction: column;
            // &:hover {
            //     background: #3f4448;
            // }
            gap: -10px;
            li {
                padding: 10px 10px;
                list-style: none;
                a {
                    font-size: 15px;
                    font-weight: 200;
                    color: #f2f2f3;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
                
        }
    }
}

.dot {
    position: relative;
    transition: all .2s ease-in-out;
    .listDot {
        width: 170px;
        background: #292f35; 
        border-radius: 7px;   
        position: absolute;
        top: 27px;
        left: 3px;
        z-index: 15;
      ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
        li {
            padding: 10px 10px;
            a {
                font-size: 15px;
                font-weight: 200;
            }
        }
      }
    } 
    
}

.listAddTitle {
    position: relative;
    transition: all .4s ease-in-out;
    .listTitle {
        width: 180px;
        background: #292f35; 
        border-radius: 7px;   
        position: absolute;
        top: 24px;
        left: -130px;
        z-index: 15;
      ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
        li {
            padding: 10px 10px;
            list-style: none;
            transition: all .2s ease-in-out;
            &:hover {
                background: #3f4448;
            }
            a {
                font-size: 15px;
                font-weight: 200;
                text-decoration: none;
                color: #d9d7d7;
                transition: all .1s ease-in-out;
                text-align: center;
                img {
                    width: 10px;
                }
                &:hover {
                    color: #f2f2f3;
                }
            }
        }
      }
    }
}
.listNotificatio {
    position: relative;
    transition: all .4s ease-in-out;
    .modalTitles {
        width: 460px;
        background: #292f35; 
        border-radius: 7px;   
        position: absolute;
        top: 24px;
        right: -10px;
        z-index: 15; 
         .options {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           button {
            background: #292f35;
                // color: #596065;
           }
           h2 {
            color: #f2f2f3;
            font-size: 18px;
            font-weight: 300;
            padding: 7px;
        }
         }
        .buttonsNotification {
            // width: 600px;
            // padding: 5px;
            gap: 5px;
            button {
                background: #292f35;
                color: #596065;
                border-radius: 0px;
                border-bottom: 1px solid #ffa332;
                &:hover {
                    color: #f2f2f3;
                    background: transparent;
                }
            }
        }
        .cards {
            display: flex;
            flex-direction: column;
            gap: 0px;
            .card {
                width: 400px;
                display: flex;
                flex-direction: row;
                gap: 5px;
                padding: 7px;
                background:#292f35 ;
                border: none;
                .leftNotification {
                    // width: 150px;
                    a {   
                        width: 150px;
                        img {
                            width: 50px;
                        }
                    }
                }
                 
                     
                        p {
                            color: #596065;
                        }
                        a {
                            // text-decoration: none;
                            color: #f2f2f3;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                     p {
                            color: #f2f2f3;
                     }
                     .title {
                        display: flex;
                        flex-direction: row;
                        // gap: 20px;
                        p {
                            color: #f2f2f3;
                        }
                        a {
                            // text-decoration: none;
                            color: #f2f2f3;
                            font-size: 14px;
                            font-weight: 500;
                        }
                     
                
            }
        }
    }
}
.inputList {
    transition: all .2s ease-in-out; 
    .btnInput_block  {
        width: 600px; 
        // background: #292f35;  
        border-radius: 7px;   
        position: absolute;
        top: 10px;
        right: 480px;
        z-index: 15;
        input {
            width: 600px ;
            padding: 7px 12px;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            
        }
        img {
            position:  absolute;
            left: 40px;
        }
        .btns {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 8px ;
            display: flex;
            flex-direction: row;
            gap: 20px;
            button {
                width: 100px;
                font-size: 14px;
                background: #3f4448;
                padding: 1px 1px;
                text-align: end;
                border: none;
                border-radius: 5px;
                &:nth-child(5) {
                    position: relative;
                }
                &:hover {
                    background: #ffa332;
                }
            }
        }
    }
}

